<!DOCTYPE html>
<html lang="en">
<head>
	<title>GatorBytes</title>
	<link rel="stylesheet" type="text/css" href="IDE.css">
	<script src="/navbar.js"></script>
</head>
<body>
	<div id="navbar-container"></div>
	<div id="ide">
		<div id="editor"></div>

		<div class="interaction-container">
			<button id = "run-code" class="execution-request" type="button" onclick="runUserCode()">run code</button>
			<select id="language-dropdown"></select>
		</div>
		
		<div id="in-out">
			<p>Input</p>
			<textarea id="input-text" rows="8" cols="50"></textarea>
			<p>Output</p>
			<pre id="output"></pre>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
	<script src="IDE.js"></script>
</body>
</html>
