<!DOCTYPE html>
<html lang="en">
<head>
	<title>Gatorbytes - Programming Challenges</title>
	<link rel="stylesheet" type="text/css" href="IDE.css">
	<link rel="stylesheet" type="text/css" href="problem.css">
	<script src="/navbar.js"></script>
</head>
<body>
	<div id="navbar-container"></div>
	<div id="problem">
		<h1 id="title"></h1>
		<pre id="content"></h1>
	</div>
	<div id="ide"></div>
	<div id="test-cases">	
		<p>Test Cases</p>
		<button id = "run-tests" class="execution-request" type="button" onclick="runTests()">run tests</button>
		<table id="test-case-table"></table>
	</div>
	<script src="problem.js"></script>
</body>
</html>
