#editor {
	position: relative;
	top: 0;
	left: 30px;
	width: 1000px;
	height: 500px;
}

.interaction-container {
	display: flex;
	gap: 10px;
	
	position: relative;
	top: 10px;
	left: 30px;
}

#run-code {
	padding: 5px;
}

#languageDropdown {
	padding: 5px;
}

#in-out {
	position: relative;
	top: 10px;
	left: 30px;
	width: 1000px;
}

#output {
	overflow: auto;
	border: 1px solid #ccc;
	white-space: pre-wrap;
	word-wrap: break-word;
	height: 200px;
}
